* {
  box-sizing: border-box;
}

:root {
  --title-color-text: #212121;
  --primery-color-text: #757575;
  --color-prime: #000000;
  --color-hover: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* Цвет заголовка секции  #757575  */
/* Цвет дополнительного текста #212121 */
/* Цвет фона белый  */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ----------------------------header------------------ */
.header .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .header-logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-prime);
}
.header-web {
  color: #2196f3;
}
.header-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.tel-svg {
  /* width: 10px; */
  /* height: 16px; */
  margin-right: 10px;
  align-items: center;
}
.header-contact {
  /* display: flex; */
  color: var(--primery-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-item:nth-child(1) {
  margin-right: 50px;
}
.header-nav .header-list .current {
  color: var(--color-hover);
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-prime);
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.tel-svg:hover {
  color: var(--color-hover);
  fill: var(--color-hover);
}

/*------------------------ HERO---------------- */
.hero {
  max-width: 1600px;
  /* background-color: #2f303a; */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  /* background: rgba(47, 48, 58, 0.4); */
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imeges/Img.jpg);
}

.hero .hero-title {
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 696px;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: var(--color-hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

/* ---------------------SECTION--------------- */
.section-title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.work-principles .secondary-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.secondary-title {
  color: var(--title-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}
.section-text {
  color: var(--primery-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------Принципы работы----------- */
.work-principles {
  padding-top: 94px;
}
.principles-icon-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 30px;
}
.work-principles .list {
  display: flex;
  margin-right: -30px;
}
.activity .section-title {
  margin-bottom: 50px;
}
.principles-item {
  width: 270px;
  margin-right: 30px;
}
/* ------------Чем мы занимаемся----------- */
.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity .list {
  display: flex;

  /* margin-right: -30px; */
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}
/* ------------Наша команда----------- */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .section-title {
  margin-bottom: 50px;
}
.team .list {
  display: flex;
  margin-right: -30px;
}

.team-item {
  margin-right: 30px;
  /* margin-bottom: 94px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  /* padding-top: 30px;
  padding-bottom: 30px; */
  padding: 30px 20px 30px 20px;
  text-align: center;
}
.team-img {
  /* margin-bottom: 30px; */
}
.team .secondary-title {
  margin-bottom: 10px;
}
.team .section-text {
  /* text-align: center; */
  /* margin-bottom: 30px; */
}

.social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  color: var(--primery-color-text);
}
.svg-social {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-hover);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

.social-link-item + .social-link-item {
  margin-left: 10px;
}

/* .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #2f303a;} */

/*
.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
}
.svg-social {
  fill: #afb1b8;
}
.social-link:hover,
.social-link:focus,
.svg-social:hover {
  background-color: var(--color-hover);
  fill: var(--color-prime);
} */
/* -------------------- FOOTER------------ */
.footer {
  /* display: flex; */
  /* flex-direction: row; */
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* margin-bottom: 9px; */
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------Portfolio--------- */

/* ---------FILTER BUTTONS------------ */
.gallary {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-color-text);
  font-style: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
  color: #ffffff;
  font-style: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

/* -----------Галерея----------------- */

.filter-title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.filter-text {
  color: var(--primery-color-text);
  font-style: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
.gallary-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.gallary-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  flex-basis: calc((100% - 90px) / 3);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
